.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Mot {
  background-color: white;
  color: red;
  height: 100px;
  font-size: 3em;
  letter-spacing: 5px;
  padding: auto;
  padding-top: 30px;
  vertical-align:middle;
}

.Compteur {
  margin: 10px;
}

.Resultat {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px;
}
.Lost {
  color: crimson;
}
.Won {
  color: lawngreen;
}

.Clavier {
  background-color: darkgray;
  height: 100px;
  font-size: 2em;
  outline: 0.08em solid silver;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Reinit {
  width: 33%;
  height: 100px;
  background-color: gold;
  font-size: 3em;
  font-weight: bolder;
  color: darkblue;
  border: solid;
  vertical-align: middle;
  margin: auto;
  padding-top: 20px;
}