.Clavier > .Touche {
    width: 5%;
    border-color: #222222;
    background-color: #222222;
    color: white;
    font-weight: bold;
    margin: 2px;
}
.Clavier > .Touche.Grisee {
    color: aliceblue;
    background-color: darkgray;
}